.carousel{
    padding: 81px 0;
    &__inner{
        position: relative;
        width: 750px;
    }
    .prev, .next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img{
            width: 31px;
            height: 50px;
        }
    }
    .next{
        right: -66px;
        left: auto;
    }
    .tns-item{ //класс взятый из подключенного tiny-slider.js, найти класс можно в режиме разработки
        img{
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1200px) { //от 992 до 1200
    .carousel{
        .prev{
            left: 10px;
        }
        .next{
            right: 5px;
        }
    }
    .tns-item{ 
        img{
            width: 700px;
        }
    }
}

@media (max-width: 991px) { // от 768 до 991
    .carousel{
        .prev{
            left: 30px;
        }
        .next{
            right: 30px;
        }
    }
    .tns-item{ 
        img{
            width: 550px;
        }
    }
}

@media (max-width: 767px) { // от 576 до 767
    .carousel{
        .prev{
            top: auto;
            left: 220px;
            bottom: -45px;
            img{
                width: 20px;
                height: 30px;
            }
        }
        .next{
            top: auto;
            right: 220px;
            bottom: -45px;
            img{
                width: 20px;
                height: 30px;
            }
        }
    }
    .tns-item{ 
        img{
            width: 500px;
        }
    }
} 

@media (max-width: 575px) { // от 320 до 575
    .carousel{
        .prev{
            left: 110px;
            bottom: -55px;
        }
        .next{
            right: 110px;
            bottom: -55px;
        }
    }
    .tns-item{ 
        img{
            width: 290px;
        }
    }
} 